<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>TamiUI.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>8E41A6111D18808A00E3E027</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8E41A62A1D18808A00E3E027</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8E41A6351D18808A00E3E027</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
